<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증 구현하기</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    function sendNumber(){
        $("#mail_number").css("display","block");
        $.ajax({
            url:"/mail",
            type:"post",
            dataType:"json",
            data:{"memberEmail" : $("#memberEmail").val()},
            success: function(data){
                alert("인증번호 발송");
                $("#Confirm").attr("value",data);
            }
        });
    }

    function confirmNumber(){
        var number1 = $("#number").val();
        var number2 = $("#Confirm").val();

        if(number1 == number2){
            alert("인증되었습니다.");

            // 인증 성공 시 save.html 페이지로 이동
            var mailValue = $("#memberEmail").val();
            window.location.href = "member/save?memberEmail=" + encodeURIComponent(mailValue);

        }else{
            alert("번호가 다릅니다.");
        }
    }
    const emailCheck = () => {
        const email = document.getElementById("memberEmail").value;
        const checkResult = document.getElementById("check-result");
        console.log("입력값: ", email);
        $.ajax({ // jquery 에 있는 ajax 함수
            // 요청방식: post, url: "email-check", 데이터: 이메일
            type: "post",
            url: "/member/email-check",
            data: {
                "memberEmail": email
            },
            success: function(res) {
                console.log("요청성공", res);
                if (res == "ok") {
                    console.log("사용가능한 이메일");
                    checkResult.style.color = "green";
                    checkResult.innerHTML = "사용가능한 이메일";
                    // 사용 가능한 이메일일 때 버튼 활성화
                    sendBtn.disabled = false;
                } else {
                    console.log("이미 사용중인 이메일");
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용중인 이메일";
                    // 사용 중인 이메일일 때 버튼 비활성화
                    sendBtn.disabled = true;
                }
            },
            error: function(err) {
                console.log("에러발생", err);
            }
        });
    }
</script>
<body>
<div id="mail_input" name="mail_input">
    <input type="text" name="memberEmail" id="memberEmail" onblur="emailCheck()" placeholder="이메일 입력">
    <button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()" disabled>인증번호</button>
    <p id="check-result"></p>
</div>
<br>
<div id="mail_number" name="mail_number" style="display: none">
    <input type="text" name="number" id="number" placeholder="인증번호 입력">
    <button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">이메일 인증</button>
</div>
<br>
<input type="text" id="Confirm" name="Confirm" style="display: none" value="">
</body>
</html>